In [77]:
# Import dependencies

import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [78]:
# Load data

tickers = ['PG', 'BEI.DE']

data = pd.DataFrame()

for i in tickers:
    data[i] = wb.DataReader(i, data_source='yahoo', start='2007-1-1')['Adj Close']
data.head()

                   PG     BEI.DE
Date
2007-01-03  40.582512  40.014122
2007-01-04  40.274403  40.276844
2007-01-05  39.928547  39.448864
2007-01-08  40.016575  39.456825
2007-01-09  39.915981  38.565140

In [79]:
# Calculate Log RoR

log_return = np.log(data/data.shift(1))
log_return.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008625 -0.020771
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [80]:
# Calculate RoR mean for PG

log_return['PG'].mean() * 250

0.07612477146131365

In [81]:
# Calculate Standard Deviation for PG

log_return['PG'].std() * 250**0.5

0.1878072144445978

In [82]:
# Calculate RoR mean for BEI.DE

log_return['BEI.DE'].mean() * 250

0.049974023600464365

In [83]:
# Calculate Standard Deviation for BEI.DE

log_return['BEI.DE'].std() * 250**0.5

0.21861615260246664

In [84]:
# Output the results

log_return[['PG', 'BEI.DE']].mean() * 250

PG        0.076125
BEI.DE    0.049974
dtype: float64

In [85]:
log_return[['PG', 'BEI.DE']].std() * 250**0.5

PG        0.187807
BEI.DE    0.218616
dtype: float64

In [86]:
PG_var = log_return['PG'].var()
PG_var

0.00014108619918975658

In [87]:
BEI_var = log_return['BEI.DE'].var()
BEI_var

0.00019117208871481995

In [88]:
PG_var_annual = log_return['PG'].var()*250
PG_var_annual

0.03527154979743914

In [89]:
BEI_var_annual = log_return['BEI.DE'].var()*250
BEI_var_annual

0.047793022178704986

In [90]:
cov_matrix = log_return.cov()
cov_matrix

              PG    BEI.DE
PG      0.000141  0.000044
BEI.DE  0.000044  0.000191

In [91]:
cov_matrix_annual = log_return.cov() * 250
cov_matrix_annual

              PG    BEI.DE
PG      0.035272  0.010980
BEI.DE  0.010980  0.047793

In [92]:
corr_matrix = log_return.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.266954
BEI.DE  0.266954  1.000000

In [93]:
weights = np.array([0.5,0.5])

In [94]:
portfolio_var = np.dot(weights.T, np.dot(log_return.cov()*250, weights))
portfolio_var

0.02625607801126515

In [95]:
portfolio_vol = portfolio_var**0.5
portfolio_vol

0.16203727352453556

In [96]:
print(f'{round(portfolio_vol,5)*100}%')

16.204%

In [100]:
# Calculate diversifiable and undiversifiable risks

PG_var_annual = log_return['PG'].var()*250
PG_var_annual = log_return['BEI.DE'].var()*250

dr = portfolio_var - (weights[0]**2 * PG_var_annual) - (weights[1]**2 * BEI_var_annual)
print(f'{round(dr,3)*100}%')

0.2%

In [102]:
n_dr_1 = portfolio_var - dr
n_dr_1

0.023896511089352493

In [103]:
n_dr_2 = (weights[0]**2 * PG_var_annual) - (weights[1]**2 * BEI_var_annual)